<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">

  <h3>Edit your Listing</h3>
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class= "needs-validation">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>  
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"
      required
      />
      <div class="valid-feedback">title entered</div>
    </div>

   
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>  
      <textarea name="listing[description]" class="form-control" required >
        <%= listing.description %>  </textarea>
      <div class="invalid-feedback"> enter some Description</div>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>  
      <input name="listing[image][url]" value="<%= listing.image.url %>" type="string" class="form-control" required
      />
    </div>
    
  <div class="row">
    <div class="mb-3 col-md-5">
      <label for="price" class="form-label">Price</lable>  
      <input name="listing[price]" value="<%= listing.price %>" type="number"  class="form-control"  required
      />
      <div class="invalid-feedback">price valid </div>
    </div>
    
    <div class="mb-3 col-md-5">
      <label for="country" class="form-label">Country</label>  
      <input name="listing[country]" value="<%= listing.country%>" type="text" class="form-control" required
      />
      <div class="invalid-feedback"> country name should be valid</div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>  
      <input name="listing[location]" value=" <%= listing.location %>" type="text" class="form-control" required
      />
      <div class="invalid-feedback"> location should be valid</div>
    </div>
</div>

    <button class="btn btn-dark edit-btn mt-3">Edit this listing</button>
  </form>    
</div>
</div>